include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include quantum/db/migration/README
include quantum/db/migration/alembic.ini
include quantum/db/migration/alembic_migrations/script.py.mako
include quantum/db/migration/alembic_migrations/versions/README
recursive-include quantum/locale *

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
