hacking>=0.5.6,<0.8

cliff>=1.4.3
coverage>=3.6
discover
fixtures>=0.3.14
mock>=1.0
mox>=0.5.3
python-subunit
sphinx>=1.1.2
testrepository>=0.0.17
testtools>=0.9.32
WebTest>=2.0
# Packages for the Cisco Plugin
###############################
configobj
###############################
