# we use this instead of a big shell entry because some versions of
# ansible-playbook choke on our script syntax + yaml parsing
- name: Generate script to clone br-int and provider bridges
  template:
    src: "clone-br-int.sh.j2"
    dest: "/tmp/clone-br-int.sh"
    mode: 0644

- name: Run clone script for dataplane
  shell: sh /tmp/clone-br-int.sh

- name: Delete clone script
  file:
    state: absent
    path: /tmp/clone-br-int.sh