---
- include_tasks: clone-dataplane.yml

- include_tasks: sync-dbs.yml

- include_tasks: activate-ovn.yml

- include_tasks: cleanup-dataplane.yml
  when: ovn_controller is defined
  tags:
    - cleanup-dataplane
