## Cheetah template for cli output
#if $cmd == 'list_nets'
Virtual Networks on Tenant $tenant_id
#for $network in $networks
    Network ID: $network.id
#end for 
#elif $cmd == 'create_net'
Created a new Virtual Network with ID: $network_id for Tenant $tenant_id
#elif $cmd == 'delete_net'
Deleted Virtual Network with ID: $network_id for Tenant $tenant_id
#elif $cmd == 'detail_net'
Network: $network.name ($network.id)
Remote Interfaces on Virtual Network
#for $port in $network.ports
    Logical Port $port.id: $port.attachment
#end for
#elif $cmd == 'rename_net'
Renamed Virtual Network with ID: $network.id for Tenant $tenant_id, 
New name is: $network.name
#elif $cmd == 'list_ports'
Ports on Virtual Network: $network_id
#for $port in $ports
    Logical Port: $port.id
#end for
#elif $cmd == 'create_port'
Created new Logical Port with ID: $port_id 
on Virtual Network: $network_id 
for tenant: $tenant_id 
#elif $cmd == 'delete_port'
Deleted Logical Port with ID: $port_id
on Virtual Network: $network_id
for tenant: $tenant_id
#elif $cmd == 'set_port_state'
Updated state for Logical Port with ID: $port.id
New state is: $port.state
on Virtual Network: $network_id
for tenant: $tenant_id
#elif $cmd == 'detail_port'
Logical Port ID: $port.id
On Virtual Network: $network_id
Administrative State: $port.state
Remote Interface: $port.attachment
#elif $cmd == 'plug_iface'
Plugged interface $attachment
into Logical Port: $port_id 
on Virtual Network: $network_id
for Tenant: $tenant_id
#elif $cmd == 'unplug_iface'
Unplugged interface from Logical Port: $port_id
on Virtual Network: $network_id
for Tenant: $tenant_id
#end if

