
#parse("openstack_l4/openstack_common.vm")

#property("summary", "Manage Configuration of L4 HA service date: [2013-05-08]")

#param("groupId", "int", "in", "prompt = Group id")
#param("virtId", "int", "in", "prompt = Virt id")
#param("virtServerEnabled", "bool", "in" "prompt = Is VIP enabled?")
#param("vip", "ip", "in", "prompt = IP address for the virtual service")
#param("virtSvcPort", "int", "in", "prompt = Virtual Service Port (0 means no value)")
#param("virtSvcType", "string", "in", "prompt = Virtual Service Type", "values=HTTP,HTTPS,TCP")
#param("svcPortAlgorithm", "string", "in", "prompt = Memeber Selection Algorithm", "values=ROUND_ROBIN,LEAST_CONNECTIONS,SOURCE_IP")
#param("groupEnabled", "bool", "in" "prompt = Is Group enabled?")
#param("virtSvcPersistMethod", "string", "in", "prompt = Virtual Service Persistence Method", "values=SOURCE_IP,HTTP_COOKIE,APP_COOKIE")
#param("virtSvcCookieName", "string", "in", "prompt = Virtual Service Cookie Name")



##setup global slb flags
/c/slb/adv/direct ena


#set($vipIpVer="#os_get_ip_version($vip)")
#set($vipIpVer=$vipIpVer.trim())

## name is maximum 31 characters
/c/slb/group $groupId
    #verify_field_length("Group name","$groupId",$GROUP_NAME_MAX_LENGTH)
    name "$groupId"
    #os_print_metric_command($svcPortAlgorithm)
##  The admin state of opens stack exists both on vip, pool and members
##  As a memeber can only be assigned to one pool the effect of disabling the pool is the same as disbaling all of its memebers
##  Currently, alteon does not have a method to disbale the pool
##    #if($groupEnabled)
##    ena
##    #else
##    dis
##    #end

##clean the virt and virs before redoing the definition
/c/slb/virt $virtId
    del
## vname is maximum 32 characters
/c/slb/virt $virtId
    ipver $vipIpVer
    vip $vip
    #os_print_bool_to_ena_dis($virtServerEnabled)

#set($serviceType="#os_get_service_type($virtSvcType)")
#set($serviceType=$serviceType.trim())
/c/slb/virt $virtId/service $virtSvcPort $serviceType
    group $groupId
    rport 0
/c/slb/virt $virtId/service $virtSvcPort $serviceType
    #os_print_persist_command($virtSvcPersistMethod, $virtSvcCookieName, $serviceType)
/c/slb/virt $virtId/service $virtSvcPort $serviceType/pip
    mode address
    #if($vipIpVer==$IPV4)
    addr v4 $vip 255.255.255.255 v6 none persist disable
    #else
    addr v4 none v6 $vip 128 persist disable
    #end
