
#parse("openstack_l4/openstack_common.vm")

#property("summary", "Delete L4 service and Real Servers - date: [2013-05-12]")

## Layer 4 part
#param("virtId", "int", "in", "prompt=Virt ID")
#param("groupId", "int", "in", "prompt=Group ID")
#param("curRealServerIds", "int[]", "in", "prompt=Real Server IDs")
#param("curr_hm_uuid_array", "string[]", "in", "prompt=Current Health monitors UUID array")

## L4 implementation

/c/slb/virt $virtId
    del

## set back the group health check to default
/c/slb/group $groupId
    del

## remove the LOGEXP part
/c/slb/advhc/health HC_Group_$groupId
    del

#foreach ($uuid in $curr_hm_uuid_array)
    #set($stripped_uuid=[-1])
    #os_strip_uuid($uuid,$stripped_uuid)
    /c/slb/advhc/health $stripped_uuid[0]
        del
#end

#foreach ($serverId in $curRealServerIds)
/c/slb/real $serverId
    del
#end
