
#property('description', 'Cleanup VLANs and L3 interface for data and HA networks - v1')

#param("data_port", "int", "in", "min=1", "max=2", "prompt=Data Port")
#param("data_interface_id", "int", "in", "min=1", "max=256", "prompt=Data Interface ID")
#param("gateway_id", "int", "in", "min=1", "max=4", "prompt=Default Gateway ID")
#param("ha_enabled", "bool", "in", "prompt=HA Enabled?")
#param("ha_port", "int", "in", "min=1", "max=2", "prompt=HA Port")
#param("ha_interface_id", "int", "in", "min=1", "max=256", "prompt=HA Interface ID")


#if($ha_enabled)
    /c/slb/port $data_port
        hotstan dis

    /c/slb/port $ha_port
        intersw dis

    /c/l3/vrrp/group
        del

    /c/l3/vrrp/vr 1
        del

    /c/l3/vrrp/hotstan dis

    /c/l3/vrrp/off

    #delete_interface($ha_interface_id)

#end

/c/slb
    off

/c/l3/gw $gateway_id
    del

#delete_interface($data_interface_id)


#macro(delete_interface, $interface_id)
/c/l3/if $interface_id
    del
#end
