hostname {{ ansible_hostname }}
log file /var/log/frr/frr.log debugging
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups

router bgp {{ bgp_as }}
{% if bgp_router_id %}
  bgp router-id {{ bgp_router_id }}
{% endif %}
  bgp log-neighbor-changes
  bgp graceful-shutdown

  neighbor downlink peer-group
  neighbor downlink remote-as {{ downlink_remote_as }}
  neighbor downlink bfd
  neighbor downlink bfd profile {{ bfd_profile_name }}
  ! neighbor downlink capability extended-nexthop
{% for iface in downlink_interfaces %}
  neighbor {{ iface }} interface peer-group downlink
{% endfor %}

{% if 'ipv4 unicast' in bgp_address_families %}
  address-family ipv4 unicast
    redistribute connected
{% if datapath_spine_ipv4 %}
    neighbor downlink route-map downlink-in in
{% endif %}
    neighbor downlink route-map locally-originated-only out
  exit-address-family
{% endif %}

{% if 'ipv6 unicast' in bgp_address_families %}
  address-family ipv6 unicast
    redistribute connected
    neighbor downlink activate
    neighbor downlink prefix-list only-host-prefixes in
    neighbor downlink route-map locally-originated-only out
  exit-address-family
{% endif %}

{% if 'l2vpn evpn' in bgp_address_families %}
  address-family l2vpn evpn
    neighbor downlink activate
    advertise-all-vni
    advertise-svi-ip
  exit-address-family
{% endif %}
exit

route-map downlink-in deny 5
 match ip address prefix-list leaf-underlay-ips

route-map downlink-in permit 10
 match ip address prefix-list only-host-prefixes
 set src {{ datapath_spine_ipv4 }}

{% for leaf in groups['leafs'] %}
ip prefix-list leaf-underlay-ips seq {{ loop.index * 5 }} permit {{ hostvars[leaf].vxlan_local_ip | trim }}/32
{% endfor %}

route-map locally-originated-only permit 10
 match as-path locally-originated

bgp as-path access-list locally-originated permit ^$

ip prefix-list only-host-prefixes permit 0.0.0.0/0 ge 32

ipv6 prefix-list only-host-prefixes permit ::/0 ge 128

ip nht resolve-via-default

bfd
  profile {{ bfd_profile_name }}
    detect-multiplier {{ bfd_detect_multiplier }}
    transmit-interval {{ bfd_interval }}
    receive-interval {{ bfd_interval }}
